<section class="pt-5 pt-md-6 pt-xl-7 pb-6 pb-md-8 pb-xl-9  border-bottom border-2">
  <div class="container">
    <div class="row gy-5 align-items-center justify-content-center">

      <article class="col-12 col-lg-6 col-xl-7">
        <header>
          <h2 class="lead">Desenvolvedor Web e UI Designer</h2>
          <h1>Olá, meu nome é Sávio!</h1>
        </header>
        <p class="mb-5 mb-md-6">
          Sou desenvolvedor Front-end e UI/UX designer. Crio interfaces digitais e desenvolvo todo o Front-end de aplicações web,
          adicionando animações, responsividade, fazendo a integração completa com o servidor e aplicando boas práticas de desenvolvimento.
        </p>
        <nav class="row gy-2 gx-5">
        <div class="col-auto">
          <a class="btn btn-primary">
            Portfólio
          </a>
        </div>
        <div class="col-auto">
          <button type="button" class="btn btn-outline-primary">
            Visualizar CV
          </button>
        </div>
        </nav>
      </article>

      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <figure class="m-0 d-flex">
          <div class="w-100"><!-- Padding-top do elemento abaixo será relativo a esta div -->
            <div class="img-wrapper">
              <img src="../../../../assets/images/image.jpg" alt="Foto de Antonio Sávio">
            </div>
          </div>
          <figcaption>
            <div class="ps-5 ps-md-6">Antonio Sávio</div>
          </figcaption>
        </figure>
      </div>

    </div>
  </div>
</section>
