@import "../../../../styles/my-variables";


.brand {

  .brand-text { fill: currentColor; }
  .brand-symbol {
    fill: $color-primary;
    transition: fill .15s ease-in-out;
  }
  .brand-rect {
    fill: transparent;
    stroke: $color-primary;
    transition: fill .15s ease-in-out;
  }

  &:hover{
    .brand-symbol { fill: white; }
    .brand-rect {
      fill: $color-primary;
    }
  }
}

.btn {
  box-shadow: 0 1rem 2rem -1rem rgba($color-primary, .6);
}

.custom-nav-link {
  display: block;
  position: relative;
  padding: .5rem;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background-color: $color-primary;
    transition: left .15s ease-in-out;
  }

  &:hover:not(.active)::after { left: -50%; text-decoration: none; }
  &.active {
    color: $color-primary;
    font-weight: bold;

    &::after {
      left: 0;
    }
  }
}
