<section class="bg-light py-6 py-md-8 py-xl-9  border-bottom border-2">
  <div class="container">
    <div class="row gy-7 justify-content-center align-items-center">

      <div class="order-2 order-lg-1 col-12 col-md-8 col-lg-6">
        <figure class="mb-0   skills-icons">
          <img
            #skillIcon
            *ngFor="let icon of icons"
            [class]="icon.class"
            [id]="icon.id"
            [src]="icon.src"
            [alt]="icon.alt"
            data-bs-toggle="tooltip" data-bs-placement="top" [title]="icon.alt">
        </figure>
      </div>

      <article class="order-1 order-lg-2 col-12 col-lg-6 col-xxl-5">
        <header>
          <h2 class="lead">Skills</h2>
          <h1>Confira algumas tecnologias que utilizo no meu dia a dia!</h1>
        </header>
        <p class="mb-3 mb-sm-4 mb-md-5">
          Estou sempre buscando aprimorar minhas habilidades em desenvolvimento de software com o
          objetivo de me tornar um desenvolvedor full-stack futuramente. Até então minhas principais
          hard-skills estão relacionadas com as tecnologias de desenvolvimento web: <strong> UI Design, Front-end e Back-end.</strong>
        </p>
        <button class="btn btn-primary">
          Certificações
        </button>
      </article>

    </div>
  </div>
</section>
